@media(min-width:372px) and (max-width:768px) {
    .container {
        width: 350px;
    }
    .col {
        padding: 8px;
    }
    .box {
        font-size: 18px;
        border: 2px solid yellow;
    }
}
